body {
    background-color: #333232;
}

.container {
    background-color: rgb(97, 97, 97);
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40%;
    right: 40%;
}

.row {
    display: flex;
    flex-direction: column;
    position: absolute;
}

